@model Garage2.Models.FreeSpaces

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Welcome to Garage 2</h1>
    <h4>@Model.RegularSpaces of @Model.AllSpaces regular parking spaces left</h4>
    <h4>@Model.MotorSpaces parking spaces reserved for motorcycles left</h4>
</div>

<div class="row text-center">
    <div class="col-md-4">
        <h2>See all vehicles</h2>
        <p><a class="btn btn-default" href="http://localhost:53122/Garage/OverView">See all vehicles &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check-in a vehicle</h2>
        <p><a class="btn btn-default" href="http://localhost:53122/Garage/Create">Check-in &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check-out a vehicle</h2>
        <p><a class="btn btn-default" href="http://localhost:53122/Garage/OverView?msg=Select%20vehicle%20to%20check-out">Check-out &raquo;</a></p>
    </div>
</div>