body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.search {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-container {
    transition: all .5s;
}

#detailsTable tr:nth-child(1) {
    background-color: #d3d3d3;
    border-bottom: solid 2px #c1c0c0;
}

#detailsTable tr:nth-child(2n) {
    background-color: #fafafa;
}

#detailsTable tr:nth-child(4n) {
    background-color: #ebebeb;
}

#statistics tr:nth-child(1) {
    background-color: #d3d3d3;
    border-bottom: solid 2px #c1c0c0;
}

#statistics tr:nth-child(odd) {
    background-color: #ebebeb;
}

#statistics tr:nth-child(even) {
    background-color: #fafafa;
}

.colorTable tr:nth-child(1) {
    background-color: #d3d3d3;
    border-bottom: solid 2px #c1c0c0;
}

.colorTable tr:nth-child(odd) {
    background-color: #ebebeb;
}

.colorTable tr:nth-child(even) {
    background-color: #fafafa;
}

#total {
    border-top: solid 2px #c1c0c0;
}

.wheels {
    text-align: center;
}

.fake-link {
    color: #428bca;
}

    .fake-link:hover {
        color: #2a6496;
        text-decoration: underline;
        cursor: pointer;
    }

.details-btn {
    display: inline;
    color: #428bca;
}

    .details-btn:hover {
        color: #2a6496;
        text-decoration: underline;
        cursor: pointer;
    }

@media (max-width: 768px) {
    .table-responsive {
        font-size: 12px;
    }
}

.jumbotron {
    text-align: center;
}

.invoice-head td {
    background-color: transparent;
    padding: 0 8px;
}

.container {
    padding-top: 30px;
}

.navbar > .container {
    padding-top: 0;
}

.invoice-body {
    background-color: transparent;
}

.invoice-thank {
    margin-top: 60px;
    padding: 5px;
}

address {
    margin-top: 15px;
}

#price {
    text-align: right;
    font-weight: 700;
    font-size: 18px;
}

#table-head {
    background-color: #d3d3d3;
}

#detailsTable .details {
    background-color: white;
}

    #detailsTable .details tr {
        width: 100%;
        background-color: white;
        border-bottom: solid 1px #dddddd;
        border-top: solid 1px #dddddd;
    }

        #detailsTable .details tr th {
            color: black;
            text-align: center;
        }