body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.search {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-container {
    transition: all .5s;
}




tr:nth-child(1) {
    background-color: #d3d3d3;
    border-bottom: solid 2px #c1c0c0;
}

tr:nth-child(2n) {
    background-color: #fafafa;
}

tr:nth-child(4n) {
    background-color: #ebebeb;
}

#statistics tr:nth-child(odd) {
    background-color: #ebebeb;
}

#statistics tr:nth-child(even) {
    background-color: #fafafa;
}

#total {
    border-top: solid 2px #c1c0c0;
}

.details {
    background-color: white;
}

    .details tr {
        width: 100%;
        background-color: white;
        border-bottom: solid 1px #dddddd;
        border-top: solid 1px #dddddd;
    }

        .details tr th {
            color: black;
            text-align: center;
        }

.wheels {
    text-align: center;
}

.details-btn {
    display: inline;
    color: #428bca;
}

    .details-btn:hover {
        color: #2a6496;
        text-decoration: underline;
        cursor: pointer;
    }

@media (max-width: 768px) {
    .table-responsive {
        font-size: 12px;
    }
}

.jumbotron{
    text-align:center;
}
